.mail-list {

    max-width: 1000px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow-y: scroll;
    max-height: 100vh;
}