.mail-folder-list {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.mail-folder-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mail-folder-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin: 0;
}

.mail-folder-list li:hover {
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
    background-color: #bb8082;
}

.mail-folder-list .active-folder {
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
    background-color: rgb(243, 226, 226);
}