.mail-filter-sort {
    display: flex;
    gap: 1em;
    padding: 1em;
    font-size: 1em;
    color: #bb8082;
}

.mail-filter-sort select {
    margin-inline-start: 1em;
    border-radius: 100vh;
    border: 1px solid #ddd;
    padding: 1em;
    color: #bb8082;
}

.mail-filter-sort input {
    border-radius: 100vh;
    border: 1px solid #ddd;
    padding: 1em;
}