.mail-side-nav {
    display: flex;
    flex-direction: column;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;

    background-color: #f2f6fc;
}

.mail-side-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mail-side-nav li {
    display: flex;
    align-items: center;
    width: 240px;
    padding: 0 12px 0 26px;
    height: 32px;

}

.mail-side-nav .folder-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin: 0;
    font-size: 0.875rem;
}

.mail-side-nav li:hover {
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
    background-color: #e8eaed;
}

.mail-side-nav .active-folder {
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
    background-color: rgb(211, 227, 253);
}

.mail-side-nav .active-folder:hover {
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
    background-color: rgb(211, 227, 253);
}