.mail-filter-sort {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
    font-size: 0.875rem;
    color: #001D35;
    background-color: #f2f6fc;
}

.mail-filter-sort .mail-filter-search input {
    all: unset;

}

.mail-filter-sort .mail-filter-search {
    align-items: center;
    display: inline-flex;

    padding: 0 12px 0 26px;
    gap: 10px;
    max-width: 50%;
    min-width: 96px;
    height: 56px;
    line-height: 32px;

    border: none;
    border-radius: 16px;
    background-color: #eaf1fb;
    cursor: pointer;


    /* color: #001D35; */
    font-weight: 500;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
}

.mail-filter-sort .i-search {
    height: 2rem;
    width: 2rem;
    padding: 10px;
    border-radius: 100vh;
}

.mail-filter-sort .i-search:hover {
    background-color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.mail-filter-sort .mail-filter-sort-options {
    display: flex;
    gap: 0.875rem;
    font-size: 0.875rem;
}

.mail-filter-sort .mail-filter {
    margin-inline-start: 1em;
    border-radius: 100vh;
    padding: 5px 12px 5px 12px;

}

.mail-filter-sort .mail-filter-sort-options button {
    all: unset;
}

.mail-filter-sort .sort-btn {
    align-items: center;
    display: inline-flex;
    text-align: center;

    padding: 5px 12px 5px 12px;
    gap: 10px;

    max-width: 104px;
    min-width: 72px;

    border: 1px solid black;
    border-radius: 16px;
    background-color: white;
    cursor: pointer;


    color: #001D35;
    font-weight: 500;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;

}