.color-palette {
    position: absolute;
    display: flex;
    gap: 5px;
    z-index: 100;
    cursor: default;
}

.color-palette > * {
    width: 30px;
    height: 30px;
    border-radius: 100vh;
    cursor: pointer;
}
