.note-preview {
    position: relative;
    padding: 10px;
    border-radius: 1em;
    border: 1px solid var(--clr-border-primary);

    cursor: default;
}

.note-preview:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.note-preview:hover .note-menu {
    transition: opacity 200ms;
}
