.note-menu {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-block-start: 0.8em;
}

.note-menu > *:last-child {
    margin-inline-start: auto;
}

.note-menu > *:not(.new-note-btn) {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 100vh;

    cursor: pointer;
}

.note-menu > *:hover:not(.new-note-btn) {
    background-color: rgb(0, 0, 0, 0.2);
}

.note-menu > .active {
    background-color: rgb(0, 0, 0, 0.2);
}

.note-menu .pin-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.note-menu *.selected {
    border: 1px solid var(--gray-8);
    background-color: rgb(255, 255, 255, 0.2);
}

.note-menu *.selected:hover {
    background-color: rgb(255, 255, 255, 0.3);
}

.note-menu .color-palette-btn {
    position: relative;
}
