.note-list ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    place-items: start;
}

.note-list li {
    position: relative;
    width: 100%;
    padding: 2px;
    border-radius: 1em;

    cursor: default;
}

.note-list li:hover .note-menu {
    transition: opacity 200ms;
}
