.note-side-nav {
    display: flex;
    flex-direction: column;
}

.note-side-nav > * {
    padding: 1em;
}

.note-side-nav > *:hover {
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
    background-color: lightblue;
}
