.note-side-nav {
    display: flex;
    justify-content: space-around;
}

.note-side-nav > * {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 0.5em 1em;
    padding: 1em;
}

.note-side-nav > *:hover {
    border-radius: 100vh;
    background-color: var(--clr-background-hover);
}

.note-side-nav .active {
    border-radius: 100vh;
    background-color: var(--clr-active-note-option);
}

.note-side-nav .link {
    display: none;
}
