.edit-note .note {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}

.edit-note .note > * {
    padding-block: 0.5em;
}

.edit-note .note:hover .note-menu {
    transition: opacity 200ms;
}

/* Handle open and close of the element */

.edit-note .note > *:not(.always-open) {
    display: none;
}

.edit-note .note.open > *:not(.always-open) {
    display: flex;
}
