.mail-details {
    max-width: 980px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin: auto;
}



.mail-details .details-container {
    margin-left: 20px;
    line-height: 1.5;
}

.mail-details-actions {
    display: flex;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.mail-details button {
    all: unset;

    align-items: center;
    display: inline-flex;
    justify-content: center;

    margin: 0;
    padding: 0 16px;
    max-width: 130px;
    min-width: 72px;
    height: 36px;
    line-height: 18px;

    border-radius: 18px;
    background-color: #0b57d0;
    cursor: pointer;


    color: #fff;
    font-weight: 500;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;


}

/* .mail-details button:hover {
    background-color: #bb8082;
    opacity: 0.8;
    color: black;
} */