.mail-details {
    max-width: 980px;
    display: flex;
    justify-content: center;
    text-align: left;
    margin: auto;
}



.mail-details .details-container {
    margin-left: 20px;
    line-height: 1.5;
}

.mail-details-actions {
    display: flex;
    gap: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.mail-details .action-btn {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    padding: 0 10px;
    cursor: pointer;

    font-weight: 500;
    font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
}

.mail-details .action-btn:hover {
    background-color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
}

.mail-details button {
    all: unset;
}

.mail-details .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 30px;
    width: 30px;
}

.mail-details .icon-btn :hover {
    border-radius: 100vh;
    background-color: rgb(0, 0, 0, 0.2);
    cursor: pointer;
}