@media screen and (min-width: 500px) {}

@media screen and (min-width: 640px) {
    .header-compose-btn {
        position: static;
        grid-area: compose;
    }

    .mail-compose .mail-modal {
        width: 70%;
    }

    .mail-details {
        max-width: 980px;
    }

    .mail-filter-sort {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
        font-size: 0.875rem;
        color: #001D35;
        background-color: #f2f6fc;
    }

    .mail-filter-sort .mail-filter-sort-options {
        grid-area: filter-sort-options;
        display: flex;
        gap: 0.875rem;
        font-size: 0.875rem;
    }

    .mail-filter-sort .mail-filter {
        margin-inline-start: 1em;
        border-radius: 100vh;
        padding: 5px 12px 5px 12px;

    }

    .mail-filter-sort .mail-filter-sort-options button {
        all: unset;
    }

    .mail-filter-sort .sort-btn {
        align-items: center;
        display: inline-flex;
        text-align: center;

        padding: 5px 12px 5px 12px;
        gap: 10px;

        max-width: 104px;
        min-width: 72px;

        border: 1px solid black;
        border-radius: 16px;
        background-color: white;
        cursor: pointer;


        color: #001D35;
        font-weight: 500;
        font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        font-size: 0.875rem;

    }


}


@media screen and (min-width: 980px) {}