header {
    background: var(--gray-1);
    border-bottom: 2px solid var(--gray-4);
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.app-header .header-logo {
    font-size: 2em;
    font-weight: 600;
    color: var(--orange-12);
    text-shadow: 0 0 2px #ffcb2e, 0 0 10px #ffcb2e, 0 0 15px #ffcb2e, 0 0 20px;
}

nav a {
    margin: 0.5em;
}

nav a:hover {
    text-decoration: underline;
}

nav a.active {
    color: var(--orange-12);
    font-weight: bold;
}
