.image-note-preview {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.image-note-preview > *:not(:first-child) {
    padding-inline: 0.5em;
}

.image-note-preview img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
