.text-note-preview {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.text-note-preview > *:first-child {
    margin-top: 0.8em;
}

.text-note-preview > * {
    padding-inline: 0.5em;
}
